<div style="background-color:#642C82; min-height:120vh;width:1450px;">
    <div style="height:150px;"></div>
    <div class="row">
        <div class="col">&nbsp;</div>
        <div class="col">
            <div class="card" style="width: 28rem; height: 300px;">
                <div class="card-body" style="text-align: center;">
                    <br /><br />
                    <h5 class="card-title">Forgot Password</h5>
                    <br />
                    <div class="alert alert-secondary" role="alert" *ngIf="status">
                        A Reset Password Link Was Send In Your Email
                    </div>
                    <form [formGroup]="forgotPass" (ngSubmit)="submitfPass()" novalidate>
                        <label>Enter Your Email:</label>
                        <input type="email" formControlName="email" class="form-control" placeholder="Enter email"
                            required>
                        <!-- Showing errors using getter method -->
                        <p *ngIf="email.touched && email.invalid" class="error">
                            <sup>*</sup>Please provide email</p>
                        <p *ngIf="email.errors?.pattern" class="error"><sup>*</sup>Please
                            enter correct email</p>
                        <br />
                        <div class="form-group text-left">
                            <button type="submit" class="btn btn-warning" [disabled]="!forgotPass.valid">Send</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
        <div class="col">&nbsp;</div>

    </div>

</div>