<div style="margin: 20px 0"></div>
<div style="margin: 50px 0"></div>
<!--modal start-->
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Leave Request</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container">
            <form [formGroup]="adleaveForm" (ngSubmit)="submitleaveForm()" novalidate>
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12">

                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label>Employee name</label>
                                <input type="text" class="form-control" formControlName="name" readonly>


                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label>Employee Id</label>
                                <input type="text" class="form-control" formControlName="id" readonly>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <div class="row">
                                    <div class="col-md-12 mb-3">
                                        <label>Leave Type</label>
                                        <input type="text" class="form-control" formControlName="type" readonly>

                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="row">

                            <div class="col-md-6 mb-3">
                                <label>Leave From</label>
                                <input type="text" class="form-control" formControlName="from" readonly>

                            </div>


                            <div class="col-md-6 mb-3">
                                <label>Leave To</label>
                                <input type="text" class="form-control" formControlName="to" readonly>

                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-12 mb-3">
                                <label>When</label>
                                <input type="text" class="form-control" formControlName="when" readonly>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-12 mb-3">
                                <label>Leave Reason/Purpose</label>
                                <textarea class="form-control" formControlName="description" readonly></textarea>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label>Action</label>
                                <select formControlName="status" (change)="valueChange($event)">

                                    <option value="approve">approve</option>
                                    <option value="pending">pending</option>
                                    <option value="reject">reject</option>


                                </select>

                            </div>
                        </div>
                        <div class="row" *ngIf="rejectOption">

                            <div class="col-md-12 mb-3">
                                <label>Cause of reject</label>
                                <textarea class="form-control" formControlName="rejectstatus"></textarea>

                            </div>
                        </div>
                        <input type="hidden" class="form-control" formControlName="lid">
                        <input type="hidden" class="form-control" formControlName="mail">
                        <input type="hidden" class="form-control" formControlName="when">


                        <div class="form-group text-right">
                            <button type="submit" class="btn btn-success">Submit
                            </button>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>

</ng-template>
<!--modal end-->
<div class="ui top attached tabular menu">
    <div class="item">
        <div *ngIf="app==false">
            <button class="ui green button" (click)="accepted()">Approve</button>
        </div>
        <div *ngIf="app==true">
            <button class="ui yellow button" (click)="accepted()">Approve</button>
        </div>
    </div>
    <div class="item">
        <div *ngIf="pend==false">
            <button class="ui teal button" (click)="pending()">Pending</button>
        </div>
        <div *ngIf="pend==true">
            <button class="ui yellow button" (click)="pending()">Pending</button>
        </div>
    </div>
    <div class="item">
        <div *ngIf="rej==false">
            <button class="ui blue button" (click)="reject()">Reject</button>
        </div>
        <div *ngIf="rej==true">
            <button class="ui yellow button" (click)="reject()">Reject</button>
        </div>
    </div>
    <div class="item">
        <div *ngIf="alls==false">
            <button class="ui violet button" (click)="all()">All</button>
        </div>
        <div *ngIf="alls==true">
            <button class="ui yellow button" (click)="all()">All</button>
        </div>
    </div>


    <br />
</div>

<table class="ui striped table">
    <thead>
        <tr>
            <th>Employee Name</th>
            <th>Employee ID</th>
            <th>From</th>
            <th>To</th>
            <th>Type</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let leave of data |  paginate: { itemsPerPage: 5, currentPage: p };">
            <td>
                {{ leave.empname }}
            </td>
            <td>
                {{ leave.empid }}

            </td>
            <td>
                {{ leave.from}}
            </td>
            <td>
                {{ leave.to}}
            </td>

            <td>
                {{ leave.type }}
            </td>

            <td>
                {{ leave.leavestatus }}

            </td>
            <td>
                <div class="ui buttons">
                    <button class="btn btn-secondary btn-sm" (click)="view(leave.id,content)">View</button>
                    <button class="btn btn-success btn-sm" (click)="edit(leave.id)">Edit</button>
                    <button class="btn btn-info btn-sm" (click)="delete(leave.id)">Delete</button>
                </div>
            </td>
        </tr>

    </tbody>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>

</table>