<div class="container">

    <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12">

            <div class="row">
                <div class="col-md-12 mb-3">
                    <label><b>Employee name:-</b>{{name}}</label>


                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label><b>Employee Id:-</b>{{ empid }}</label>


                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label><b>E-Mail:-</b>{{ mail }}</label>




                        </div>
                    </div>

                </div>
            </div>


            <div class="row">

                <div class="col-md-6 mb-3">
                    <label><b>Joining Date:-</b>{{ join }}</label>
                </div>


                <div class="col-md-6 mb-3">
                    <label><b>Designation:-</b>{{ desgn}}
                    </label>


                </div>
            </div>


            <div class="row">
                <div class="col-md-12 mb-3">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label><b>Sick Leave:-</b>{{ sick }}</label>


                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label><b>Emergency Leave:-</b>{{ emergency}}</label>


                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label><b>Crasual Leave:-</b>{{ crasual}}</label>


                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label><b>Medical Leave:-</b>{{ medical}}</label>


                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>