th {
    font-family: 'Merriweather', serif;
    font-size: 13px;
}

tr td {
    font-family: 'Crimson Text', serif;
    font-size: 13px;
}

input {
    font-family: 'Crimson Text', serif;
}

#exampleModalCenter{
    transition: 0.3s;
}
#exampleModal{
    transition: 0.3s;
}