<div class="ui segment" style="min-height: 100vh;" *ngIf="employee">

  <div class="ui items">
    <div class="item">
      <div class="ui medium rounded image">
        <img [src]="employee.avatar"><br>
        <button class="ui button" [routerLink]="['../../edit', id]">Edit Employee</button>
      </div>
      <div class="content">
        <div class="ui grid">

          <!-- BASIC -->
          <div class="ui sixteen wide column">
            <div class="ui segments">
              <div class="ui segment">
                <h2 class="ui header">Basic</h2>
              </div>
              <div class="ui red segment">
                <div class="description">
                  <div>
                    <h4 class="ui header basic">Emplyee ID: {{employee.employee_id}}</h4>
                    <h4 class="ui header basic">NID: {{employee.nid}}</h4>
                    <h4 class="ui header basic">Name: {{employee.first_name}} {{employee.last_name}}</h4>
                    <h4 class="ui header basic">Gender: {{employee.gender}}</h4>
                    <h4 class="ui header basic">Company: {{employee.company}}</h4>
                    <h4 class="ui header basic">Joined In: {{employee.joining_date}}</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- ADRESS -->
          <div class="ui sixteen wide column">
            <div class="ui segments">
              <div class="ui segment">
                <h2 class="ui header">Address</h2>
              </div>
              <div class="ui green segment">
                <div class="description">
                  <h5 class="ui header basic">Street: {{employee.street}}</h5>
                  <h5 class="ui header basic">City: {{employee.city}}</h5>
                  <h5 class="ui header basic">State: {{employee.state}}</h5>
                  <h5 class="ui header basic">Zip Code: {{employee.zip}}</h5>
                </div>
              </div>
            </div>
          </div>

          <!-- CONTACT -->
          <div class="ui sixteen wide column">
            <div class="ui segments">
              <div class="ui segment">
                <h2 class="ui header">Contact</h2>
              </div>
              <div class="ui blue segment">
                <div class="description">
                  <h4 class="ui header basic">Email: {{employee.email}}</h4>
                  <h4 class="ui header basic">Phone: {{employee.phone_number}}</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="ui eight wide column"></div>
        </div>
      </div>

    </div>
  </div>
</div>
