<form class="ui form" [formGroup]="updateDep" style="width: 60%; margin: auto;" *ngIf="data">
  <app-success [message]="updatingDepartment? 'updatingDepartment': ''"></app-success>
  <app-success [message]="departmentUpdated? 'departmentUpdated': ''"></app-success>

  <div class="field">
    <p style="text-align: center; font-weight:bold">Update Department</p>
    <input type="text" name="name" placeholder="Department" formControlName="dep_name">
  </div>
  <div class="ui grid">
    <div class="four column row">
      <div class="right floated column right aligned">
        <button class="ui button " (click)="updateDepartment()">Save Changes</button>
      </div>
    </div>
  </div>
</form>
