<div [ngClass]="{'overlay-active' : viewCalculator==false}" draggable="true"></div>  <!-- End overlay -->

<div class="calculator" id="calculator" [ngbCollapse]="viewCalculator">
   <div class="calculator-block">
       <div>
            
            <div class="d-flex justify-content-between pb-1">
                <div class="cm">
                    <span style="color: #c7c7c7; font-size: 18px"><i class="move icon"></i></span>
                 </div> 
                <button type="button" class="close" aria-label="Close" (click)="switchCalculator()" aria-controls="calculator">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>  <!-- End div -->
    
        <div>
                <div>
                    <input type="text" id="inputbox" class="inputbox" placeholder="0" name="calculateBox" [(ngModel)]="calculateBox" #equation (keyup.enter)="getResult(equation.value)">
                    <span class="d-flex output-screen">{{ output }}</span>
                </div>  <!-- End div -->
                <div class="d-flex justify-content-between flex-wrap dialpad">
                    <li (click)="goInitialState()" class="removeContent">CLR</li>
                    <li (click)="removeElement()" class="removeContent">DEL</li>
                    <li (click)="addToDisplay('%')">%</li>
                    <li (click)="addToDisplay('/')">&divide;</li>
                    <li (click)="addToDisplay('9')" class="decimal-obj">9</li>
                    <li (click)="addToDisplay('8')" class="decimal-obj">8</li>
                    <li (click)="addToDisplay('7')" class="decimal-obj">7</li>
                    <li (click)="addToDisplay('*')">x</li>
                    <li (click)="addToDisplay('6')" class="decimal-obj">6</li>
                    <li (click)="addToDisplay('5')" class="decimal-obj">5</li>
                    <li (click)="addToDisplay('4')" class="decimal-obj">4</li>
                    <li (click)="addToDisplay('-')" class="">&minus;</li>
                    <li (click)="addToDisplay('3')" class="decimal-obj">3</li>
                    <li (click)="addToDisplay('2')" class="decimal-obj">2</li>
                    <li (click)="addToDisplay('1')" class="decimal-obj">1</li>
                    <li (click)="addToDisplay('+')" class="">+</li>
                    <li (click)="addToDisplay('.')" class="decimal-obj">&sdot;</li>
                    <li (click)="addToDisplay('0')" class="decimal-obj">0</li>
                    <li (click)="addToDisplay('00')" class="decimal-obj">00</li>
                    <li (click)="getResult(equation.value)" class="bg-black" (keyup.enter)="getResult(equation.value)">=</li>
                </div>  <!-- End -flex -->
        </div>  <!-- End div -->
       </div> <!-- End div -->
    </div> <!-- End calculator block-->
</div> <!-- End calculator -->