
<div class="row">
  <div class="col-sm-4" style="margin-bottom: 20px;"> 
    <div class="card">
        <div class="card-body">
          <span class="h6">Add Expense</span>
          <div class="divider"></div>
    
          <div *ngIf="notification" class="alert alert-warning">
              {{ notification }}
          </div> <!-- End Alert -->
                <div class="form-group">
                  <div class="input-group">
                    <input type="hidden" 
                            ngbDatepicker #expenseDate="ngbDatepicker" [(ngModel)]="expense.date">

                    <input class="form-control" 
                            ngbDatepicker #expenseDate="ngbDatepicker" (click)="expenseDate.toggle()" [value]="expense?.date.year + '-' + expense?.date.month + '-' + expense?.date.day | date: 'dd, MMM y'">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary disabled calendar" (click)="expenseDate.toggle()" style="padding: 0 5px;"><span class="calendar-icon"></span>
                          </button>
                    </div>
                  </div> <!-- End input group -->
                </div> <!-- End form group -->



                <div class="form-group">
                  <input type="hidden" [(ngModel)]="expense.category">
                  <select name="expense_type" class="custom-select" #category (click)="getCategory(category.value)">
                      <option selected="true" disabled value="0">Select Bill Type </option>
                      <option value="Utility">Utlity Bill</option>
                      <option value="Overtime">Employee Overtime/Bounus Bill</option>
                      <option value="Foods">Foods</option>
                      <option value="Salary">Employee Salary</option>
                      <option value="Others">Others</option>
                  </select>    
                </div> <!-- End form-group-->
    
    
                <div *ngIf="category.value == 'Utility' " class="form-group" (click)="getSubCategory(subcategory.value)">
                 
                  <input type="hidden" [(ngModel)]="expense.subcategory">
                  <select name="expense_type" class="custom-select" #subcategory>
                      <option selected="true" disabled value="0">Select a Sub category</option>
                      <option value="Electric">Electric Bill</option>
                      <option value="Internet">Internet Bill</option>
                      <option value="Market Maintainance">Market Maintainance</option>
                      <option value="Others">Others</option>
                  </select>    
                  <div *ngIf="sub_others">
                    <input type="text" placeholder="Write " [(ngModel)]="expense.subcategory_others" name ="expense.others" class="form-control">
                  </div>
                </div> <!-- End form-group-->
                
            
    
            <div class="form-group">  
                <input type="number" min="0" placeholder="Expense Amount" class="form-control mb-2" [(ngModel)]="expense.amount">
             </div> <!-- End --> 
    
    
            <div class="form-group">  
              <input type="text" placeholder="Expense note" class="form-control mb-2" [(ngModel)]="expense.note">
           </div> <!-- End form-group-->
    
            <div class="form-group mb-0">
              <button class="btn btn-sm btn-success" (click)="addExpense(expense)">Add Expense</button>
            </div>  <!-- End form-group-->
      </div> <!-- End card body -->
      </div> <!-- End card  -->
    </div> <!-- End col 6 -->



    <div class="col-sm-8">
      <div class="card" style="margin-bottom: 30px">
          <div class="card-body">
              <div class="" style="margin: 0;">
                <div class="row">
                  <div class="col-sm-6 col-12">
                    <div class="d-flex">
                        <div class="form-group">
                      <div class="input-group">
                        <input type="hidden"
                               name="selected_day" [(ngModel)]="selected_day" ngbDatepicker #d2="ngbDatepicker" [placement]="placement" [positionTarget]="buttonEl">
                        <div class="date-block">
                          <span>{{  selected_day.year + '-' + selected_day.month + '-' + selected_day.day | date: 'dd, MMM y' }}</span>
                            
                          <span #buttonEl class="btn disabled cp calendar" (click)="d2.toggle()"></span>
                        </div>  <!-- End date-block -->
                      </div> <!-- End input group -->
                    </div> <!-- End Form group -->

                    <div class="d-flex arrow-block" style="margin: 0;">
                                <div>
                                  <span class="cp arrow" (click)="getPrevDate(selected_day)">
                                    <i class="chevron left icon cp"></i>
                                    </span>

                                    <span class="cp arrow" (click)="getNextDate(selected_day)">
                                      <i class="chevron right icon"></i>
                                    </span>
                                </div> <!-- End div  -->
                                <div>
                                  <span class="btn btn-sm btn-outline-success" (click)="getByDay(selected_day)">Get Data</span>
                                </div> <!-- End div  -->
                    </div> <!-- End div d-flex -->
                    </div>   <!-- End d-flex -->
                  </div> <!-- End Col 6 -->

                  <div class="col-sm-6 col-12">
                      <div class="d-flex flex-column align-items-end">
                            <div class="cp" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                            Get Data By Range
                            <i class="chevron down icon"></i>
                            </div>
                          <div id="collapseExample" [ngbCollapse]="isCollapsed">
                            <div class="d-flex flex-column align-items-end date-range">
                              <div class="range">
                                <input type="hidden"
                                name="range.prevdate" [(ngModel)]="range.prevdate" ngbDatepicker #prevdate="ngbDatepicker" [placement]="placement">
                                <div class="date-block">
                                  <span>{{  range.prevdate.year + '-' + range.prevdate.month + '-' + range.prevdate.day | date: 'dd, MMM y' }}</span>
                                  <span class="btn disabled cp calendar" (click)="prevdate.toggle()">
                                    <i class="calendar alternate outline icon"></i>
                                    
                                  </span>
                                </div>  <!-- End date-block -->
                              </div> <!-- End div -->
        
                              <div class="range">
                                <input type="hidden"
                                name="range.nextdate" [(ngModel)]="range.nextdate" ngbDatepicker #nextdate="ngbDatepicker" [placement]="placement">
                                <div class="date-block">
                                  <span>{{  range.nextdate.year + '-' + range.nextdate.month + '-' + range.nextdate.day | date: 'dd, MMM y' }}</span>
                                    
                                  <span class="btn disabled cp calendar" (click)="nextdate.toggle()"> <i class="calendar alternate outline icon"></i></span>
                                </div>  <!-- End date-block -->
                              </div> <!-- End div -->
        
                             
        
                            <div class="date-block my-2">
                                <span class="btn btn-sm btn-outline-success" (click)="getByRange(range)">Search</span>
                            </div>  <!-- End d-flex -->
                          </div> <!-- End Col 6 -->
                          </div>  <!-- End collapse -->
                      </div>  <!-- End d-flex -->
                </div> <!-- End row -->
                </div>  <!-- End row -->

              <div *ngIf="expenses">
                <div class = "table-responsive">
                  <table class="table table-bordered">
                    <tr>
                      <td>#SL</td>
                      <td class="cp" (click)="getDataSort('amount')">Amount 
                        <i [class]="sortedIcon.amount.icon"></i> </td>
                      <td class="cp" (click)="getDataSort('category')">Bill Type 
                        <i [class]="sortedIcon.category.icon"></i></td>
                      <td class="cp" (click)="getDataSort('userdate_ms')">Date 
                        <i [class]="sortedIcon.userdate_ms.icon"></i></td>
                      <td>Note</td>
                      <td>Action</td>
                    </tr>
      
                    <tr *ngFor="let object of expenses | paginate: { itemsPerPage: 4, currentPage: p }; let i = index;">
                      <td> {{ i + 1 }} </td>
                      <td> <a routerLink="/finance/{{object.expense.transaction_type}}/{{ object.expense.category.split(' ')[0]  + '/' + object.expense.datetime }}"> <span class="span_amount">{{ object.expense.amount | number}}</span></a> TK</td>

                      <td> <a routerLink="/finance/{{object.expense.transaction_type}}/{{ object.expense.category.split(' ')[0] }}">{{ object.expense.category  }}</a> </td>
                      <td> {{ object.expense.userdate | date:'MMM d, y, EE' }} </td>
                      <td> {{ object.expense.note  }} </td>
                      <td>
                          <span placement="top" ngbTooltip="Delete" (click)="removeObject(object)"> <i class="trash alternate outline icon cp"></i> </span>
                      </td>
                      
                    </tr>
                  </table>
                </div>   <!-- End Table resposive -->
                
               <div class="d-flex justify-content-between">
                <div class="">
                  Total Expense: <span class="h5">{{ totalExpense | number }} </span> <span>TK</span>
                 </div> <!-- End -->
                 <div class="d-flex justify-content-end">
                  <pagination-controls (pageChange)="p = $event"></pagination-controls>
                 </div>    <!-- End -->
               </div>   <!-- End d-flex -->
              </div> <!-- End ngIf -->
              

               
           
          </div>    <!-- End card body -->
          </div> <!-- End card  -->
      </div> <!-- End card  -->
    </div>  <!-- End col -->
</div> <!-- End row -->


