.apply {
    text-align: center;
    border: 2px solid #FF9B44;
    color: #601F7A;
    font-size: 1.5rem;
    padding: 10px 0px;
    font-weight: 600;
    transition: 0.2s all ease-in-out;
    cursor: pointer;
  }
  
  .apply:hover {
    background-color: #FF9B44;
  }
  
  .icon {
    color: #FF9B44
  }
  
  .job-title {
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: 22px;
    font-weight: 600;
  }
  
  .department {
    padding: 10px 0;
    margin: 0;
  }
  
  .job-description {
    text-align: justify;
    color: #737882;
    line-height: 28px
  }
  
  .job-properties {
    color: #585858;
    letter-spacing: 0.5px;
    padding: 7px 0px;
    font-size: 16px;
  }
  
  .day-left {
    text-align: center;
    color: #601F7A;
    font-weight: 600;
  }